*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: #434455;
  background: #fff;
  margin: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-part {
  color: var(--NAVY-BLUE, #2e2f42);
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--OCEAN, #404bbf);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}

.header-set {
  display: flex;
  gap: 40px;
  display: flex;
  padding: 24px 0;
}

.adress {
  font-style: normal;
  margin-left: auto;
}

.contacts {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--OCEAN, #404bbf);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Solutions */

.main {
  background: var(--NAVY-BLUE, #2e2f42);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  max-height: 600px;
  margin: 0 auto;
}

.solutions-container {
  text-align: center;
}

.main-header {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.button {
  background: var(--IRIS, #4d5ae5);

  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--OCEAN, #404bbf);
}

/* Features */

.features {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  flex-direction: column row;
  align-items: flex-start;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-description {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  display: flex;
}

.features-icon {
  display: flex;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

/* Our team */

.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-proff {
  padding: 32px 0;
}

.team-set {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.heading {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-section {
  background: var(--CLOUD, #f4f4fd);
}

.team-card-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-card-p {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  border-radius: 0px 0px 4px 4px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  margin-top: 8px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  fill: #f4f4fd;
}

/* Our portfolio */

.portfolio-set {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-block {
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
  margin: 0;
  padding: 32px 16px;
}

.portfolio-headings {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-p {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  margin: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}

/* Footer */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.logo-part-variant {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-p {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  margin: 0;
}

.footer-logo-p {
  margin-right: 120px;
}

.footer-soc-header {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-soc-media-list {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--GREEN, #31d0aa);
}

.footer-soc-icon {
  fill: #f4f4fd;
}

/*footer form*/

.wrapper-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.footer-subscribe-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  color: #fff;
  flex-shrink: 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  min-width: 165px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-subscribe {
  fill: #fff;
  margin-left: 16px;
}

/* Modal window */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-input {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  margin-top: 4px;
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.button-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  background: var(--OCEAN, #404bbf);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.check-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-text a {
  color: var(--IRIS, #4d5ae5);
  text-decoration-line: underline;
}

.check-icon-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  margin-right: 8px;
  fill: transparent;
  line-height: 1.17;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link-span {
}

.wrapper-checkbox {
  margin-bottom: 24px;
}
